<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" th:action="@{/user/register}" th:object="${form}">
        <div>
            <label for="username">Username : </label>
            <input type="text" id="username" th:field="*{username}">
            <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="password" id="password" th:field="*{password}">
            <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password : </label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <span style="color: red" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
            </div>
        </div>
        <div>
            <label for="size">Size : </label>
            <input type="number" id="size" th:field="*{size}">
            <p style="color: red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></p>
        </div>
        <div>
            <label for="birthdate">Birthdate : </label>
            <input type="date" id="birthdate" th:field="*{birthdate}">
            <p style="color: red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>